.badge {

  &__item {
    padding: 3px 6px;    
    border-radius: 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.0;
    color: $color-white;
    text-transform: uppercase;
    width: fit-content;
    display: block;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &--green {
      background-color: $color-christi;
    }

    &--red {
      background-color: $color-mahogany;
    }

    &--orange {
      background-color: #FF7A00;
    }
  }
}