.button {
  display: inline-block;
  background-color: $color-christi;
  color: $color-white;
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 24px;
  border-radius: 6px;
  letter-spacing: 0.03em;
  margin: auto;

  &:hover {
    background-color: #4D810C;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px #E0EDCF;
  }

  &--light {
    display: block;
    background-color: transparent;
    color: $color-christi;
    border: 1px solid $color-christi;

    &:hover {
      background-color: #EFF6E7;
    }

    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
  }

  &--form-green {
    position: absolute;
    height: 40px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    font-weight: 700;
    font-size: 12px;
    padding: 13px 16px;
  }

  &--form-dark {
    position: absolute;
    height: 50px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    background-color: $color-metal;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 52px;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }
  }
}