.button {
  display: inline-block;
  background-color: $color-christi;
  color: $color-white;
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 24px;
  border-radius: 6px;

  &--light {
    background-color: transparent;
    color: $color-christi;
    border: 1px solid $color-christi;
  }   
}



