.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;  

  &__box:not(:last-child) {
    margin-right: 21px;
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;

    &:hover,
    &:active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }
}