html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.4;
  background-color: $color-white;
  color: $color-main;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



a {
  color: $color-white;
}