$color-main: #121212;
$color-emperor: #505050;
$color-white: #FFFFFF;
$color-christi: #63A60E;
$color-metal: #31352B;
$color-mahogany: #CF3E3B;
$color-silver: #C1C1C1;




// %opensans-400 {
//   font-family: 'OpenSans', sans-serif;
//   font-weight: 400;
// }

// %opensans-500 {
//   font-family: 'OpenSans', sans-serif;
//   font-weight: 500;
// }

// %opensans-600 {
//   font-family: 'OpenSans', sans-serif;
//   font-weight: 600;
// }

// %opensans-700 {
//   font-family: 'OpenSans', sans-serif;
//   font-weight: 700;
// }

// %ruda-600 {
//   font-family: 'Ruda', sans-serif;
//   font-weight: 600;
// }

// %ruda-900 {
//   font-family: 'Rudak', sans-serif;
//   font-weight: 900;
// }



// %btn {
//   display: inline-block;
//   background-color: $color-christi;
//   color: $color-white;
//   font-size: 18px;
//   line-height: 1.3;
//   padding: 12px 24px;
//   border-radius: 6px;
// }