@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'button';

.header {

  &__top {
    background-color: $color-metal;
    height: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 13px 0;
    top: 0;
    z-index: 1;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 27px;
    }

    &--delivery {
      margin-left: auto;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
  }

  &__img {
    margin-right: 17px;
  }

  &__bottom {
    background-color: $color-christi;
    height: 110px;
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 25px 0;
  z-index: 1;

  &__catalog {
    padding: 16px 40px 15px 66px;
    color: $color-christi;
    background-color: $color-white;
    border-radius: 6px;
    transition: all 0.3s;
    position: relative;
    margin-right: 33px;
    font-weight: 600;
    min-width: 240px;
  }

  &__line {
    position: absolute;
    left: 18px;
  }

  &__arrow {
    position: absolute;
    right: 16px;
    top: 23px;
  }

  &__search {
    position: relative;
    display: inline-flex;
    margin-right: 59px;
  }

  &__field {
    height: 50px;
    width: 576px;
    border-radius: 6px;
    background-image: url(../images/icon/search.svg);
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: auto;
    padding-left: 52px;
    padding-right: 170px;
    color: $color-metal;

    &::placeholder {
      color: $color-metal;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 158px;
    color: $color-white;
    background-color: $color-metal;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 600;
  }

  &__user {
    display: flex;
  }

  &__box:not(:last-child) {
    margin-right: 31px;
  }

  &__button {
    position: relative;
    transition: all 0.3s;
  }

  &__num {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $color-white;
    top: -7px;
    left: -7px;
    font-size: 10px;
    line-height: 1.8;
    color: $color-mahogany;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 600;
  }
}

.promotion {

  &__items {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: $color-emperor;
  }

  &__item {
    padding: 166px 24px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 315px;
      left: 0;
      top: 142px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      position: absolute;
      z-index: -1;
    }

    &--tomatoes::before {
      height: 323px;
    }

    &--greens::before {
      height: 341px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 761px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
  }

  &__subtitle {
    display: block;
    color: $color-mahogany;
    margin-bottom: 12px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.slick-next,
.slick-prev {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px 21px;
  z-index: 1;
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}

.footer {
  background-color: $color-metal;
  color: $color-white;
  padding-top: 30px;

  &__line {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__subscription {
    display: block;
  }

  &__form {
    position: relative;
    margin-right: 63px;
  }

  &__label {
    display: block;
    margin-bottom: 18px;
    line-height: 1.0;
    padding-top: 30px;
    width: 306px;
  }

  &__field {
    width: 181px;
    height: 40px;
    border-radius: 6px 0 0 6px;
    padding: 12px;
    color: $color-metal;

    &::placeholder {
      color: #4F4F4F;
      line-height: 1.0;
    }
  }

  &__button {
    position: absolute;
    height: 40px;
    width: 126px;
    background-color: $color-christi;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    font-weight: 700;
    font-size: 12px;
  }

  &__inner {
    column-count: 3;
    column-gap: 75px;
    padding-top: 30px;
  }

  &__items {
    padding-top: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 30px;
    max-width: 215px;
  }

  &__box:not(:last-child) {
    margin-right: 10px;
  }

  &__accept {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
  }

  &__payments {
    display: flex;
    vertical-align: middle;
  }

  &__pay:not(:last-child) {
    margin-right: 25px;
  }
}