@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'button';
@import 'badge';
@import 'control';
@import 'filter';
@import 'availability';



.header {

  &__top {
    padding: 14px 0;
    background-color: $color-metal;
  }

  &__list {
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 27px;
    }

    &:nth-child(2) {
      .header__link {
        margin-left: 27px;
      }
    }

    &--delivery {
      margin-left: auto;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    margin-right: 17px;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $color-christi;
  }
}

.menu {
  display: flex;
  align-items: center;
  z-index: 1;

  &__logo {
    margin-right: 27px;
  }

  &__catalog {
    padding: 16px 40px 15px 66px;
    color: $color-christi;
    background-color: $color-white;
    border-radius: 6px;
    transition: all 0.3s;
    position: relative;
    margin-right: 33px;
    font-weight: 600;
    min-width: 240px;

    &:hover,
    &:active {
      background-color: #E0EDCF;
    }
  }

  &__nav {
    position: absolute;
    left: 18px;
  }

  &__arrow {
    position: absolute;
    right: 16px;
    top: 23px;
  }

  &__form {
    width: 47%;
    display: flex;
    align-items: center;
  }

  &__icon-search {
    position: absolute;
    z-index: 1;
    margin-left: 10px;
  }

  &__search {
    width: 95%;
    display: flex;
  }

  &__label {
    width: 100%;
  }

  &__field {
    height: 50px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 0 12px 0 50px;
    color: $color-metal;

    &::placeholder {
      color: $color-metal;
    }
  }

  &__user {
    display: flex;
    margin-left: auto;
  }

  &__control {
    position: relative;
    padding: 9px 13px;
  }

  &__num {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $color-white;
    top: 3px;
    left: 10px;
    font-size: 10px;
    line-height: 1.8;
    color: $color-mahogany;
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: 600;
  }
}

.promotion {

  &__items {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    color: $color-emperor;
  }

  &__item {
    padding: 166px 24px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 315px;
      left: 0;
      top: 142px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      position: absolute;
      z-index: -1;
    }

    &--tomatoes::before {
      height: 323px;
    }

    &--greens::before {
      height: 341px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 761px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
  }

  &__subtitle {
    display: block;
    color: $color-mahogany;
    margin-bottom: 12px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.slick-next,
.slick-prev {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px 21px;
  z-index: 1;

  &:active {
    background-color: #F3F3F2;

    path {
      fill: $color-christi;
    }
  }

  &:hover {
    background-color: #E0EDCF;

    path {
      fill: $color-christi;
    }
  }

  &:focus {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
  }
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}


.service {
  background-color: #F6F6F6;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 48px 0 37px 74px;
    width: 265px;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &::before {
      content: "";
      position: absolute;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50px;
      height: 50px;
      left: 0;
    }

    &--delivery::before {
      background-image: url('../images/icon/delivery.svg');
    }

    &--return::before {
      background-image: url('../images/icon/return.svg');
    }

    &--support::before {
      background-image: url('../images/icon/support.svg');
    }
  }

  &__name {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
  }
}

.product {
  padding: 72px 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__items {
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;

    &:hover {
      border-color: $color-christi;
    }
  }

  &__item {
    padding: 11px 12px 12px 18px;
  }

  &__top {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 13px;
  }

  &__title {
    font-weight: 600;
    min-height: 64px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__old-price {
    display: block;
    position: relative;
    color: $color-silver;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid $color-silver;
      width: 100%;
      bottom: 9px;
      transform: rotate(-14.99deg);
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid rgba(99, 166, 14, 0.2);
}



.footer {
  background-color: $color-metal;
  color: $color-white;
  padding-top: 30px;

  &__top {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__subscription {
    display: block;
    width: 25%;
    margin-right: 63px;
  }

  &__form {
    width: 95%;
  }

  &__label {
    display: block;
    margin-bottom: 18px;
    line-height: 1.0;
    padding-top: 30px;
    width: 100%;
  }

  &__sub {
    display: flex;
    align-items: center;
  }

  &__field {
    width: 100%;
    height: 40px;
    border-radius: 6px 0 0 6px;
    padding: 12px;
    color: $color-metal;

    &::placeholder {
      color: #4F4F4F;
      line-height: 1.0;
    }
  }

  &__inner {
    column-count: 3;
    column-gap: 75px;
    padding-top: 30px;
  }

  &__contact {
    padding-top: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__link {
    color: $color-white;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 23px;
    max-width: 215px;
  }

  &__box:not(:last-child) {
    margin-right: 3px;
  }

  &__social {
    display: block;
    padding: 4px;
    transition: all 0.3s;

    &:active,
    &:hover {
      opacity: 0.1;
    }
  }

  &__accept {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
  }

  &__payments {
    display: flex;
    vertical-align: middle;
  }

  &__pay:not(:last-child) {
    margin-right: 25px;
  }

  &__payment {
    &:hover {
      opacity: 0.7;
    }
  }
}

.banners {
  padding-bottom: 72px;

  &__items {
    display: grid;
    min-height: 300px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 31px;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.0;
    border-radius: 4px;

    &:nth-child(1) {

      .banners__subtitle,
      .banners__title,
      .banners__link {
        color: $color-white;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
      }

      .banners__link {
        border-bottom: 2px solid $color-white;
      }
    }
  }

  &__subtitle {

    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 0.1em;
    margin-bottom: 18px;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    width: 70%;
  }

  &__link {
    line-height: 2;
    width: fit-content;
    color: $color-emperor;
    border-bottom: 2px solid $color-emperor;
  }
}


.stock {
  padding: 72px 0;
  background-color: #F5F5F5;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__items {
    border: 1px solid $color-silver;
    border-radius: 6px;
    background: $color-white;
    max-width: 300px;
    max-height: 124px;

    &:hover {
      border-color: $color-christi;
    }
  }

  &__item {
    padding: 12px;
    display: flex;
  }

  &__top {
    margin-right: 12px;
  }

  &__img {
    margin-top: -10px;
  }

  &__inner {
    width: 59%;
  }

  &__title {
    font-weight: 600;
    min-height: 58px;
  }

  &__availability {
    margin-bottom: 5px;
  }

  &__indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin-right: 16px;
    line-height: 1.0;
  }

  &__new-price {
    font-weight: 600;
    font-size: 20px;    
    color: $color-emperor;
  }

  &__old-price {
    position: relative;
    font-size: 12px;    
    color: $color-silver;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid $color-silver;
      width: 100%;
      bottom: 9px;
      transform: matrix(0.99, -0.17, -0.13, -0.99, 0, 0);
    }
  }

  &__rating {
    display: block;
    position: relative;
    font-weight: 700;    
    color: $color-emperor;
  }

  &__button {
    display: block;
  }
}

// .mixitup-control-active {
//   border-bottom: 3px solid rgba(99, 166, 14, 0.2);
// }





.brands {
  padding: 72px 0;

  &__item {
    opacity: 0.5;

    &:hover {
      opacity: 1.0;
      transition: all 0.3s;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    object-fit: contain;
    object-position: center center;
  }
}